################################################################################################
#######################           PIGGYBACK CONFIGURATION FILE            ######################
################################################################################################

#################################
###### Main Config Section ######
#################################

# These are the main configs that control the core features of PiggyBack
# Default config is to pick-up entities when crouching and right clicking
# Players will not be able to pick-up/ride other players or mobs if they disable
# piggyback with their own toggle comand. This is default behavior

main:
  # This determines PiggyBack's main mode of function
  # Possible options are PICKUP or RIDE
  clickAction: PICKUP
  # You must always crouch before picking up an entity. This determines which click
  # you use to pick up/ride an entity,
  # Possible options are RIGHT, LEFT, or EITHER
  clickType: RIGHT
  # Whether the player must have an empty hand or not when attempting to
  # ride/pick up an entity
  requireEmptyHand: false
  # Whether the player is required to have a certain item in their hand before being allowed
  # to pick-up/ride entities. If set to NONE the plugin will function as normal. If require empty hand
  # is true then this will also have no effect. Items must be in the format as listed here:
  # https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/Material.html
  requireItem: NONE
  # Whether to ride/pick-up players only (*This will TOTALLY DISABLE picking-up/riding any mob
  # other than players!*)
  onlyPlayers: false
  # Whether to ride/pick-up mobs only (*This will TOTALLY DISABLE picking-up/riding any player!*)
  onlyMobs: false
  # Whether to allow players to Ride/Pick-up NPCs from Citizens 2 
  allowNPCs: false

##################################
###### Pickup Configuration ######
##################################

# These configs control picking-up of the mobs/players (If some ride settings are changed below in Ride Configuration 
# while clickAction: RIDE is set above then some of these settings would also take effect)

pickup:
  # Cooldown in seconds before being able to pick-up players/mobs (set to 0 to disable)
  cooldown: 10
  # Whether to 'throw' the rider when looking at them while crouching and left-clicking on them
  # when they are riding you.
  throwRiderAway: true
  # If the above setting and this is also true, the player will perform a "far throw" when sprinting
  # and left-clicking on them when they are riding you.
  farThrowRider: false
  
##################################
####### Ride Configuration #######
##################################

# These configs control riding of the mobs/players (If some ride settings are changed below in Ride Configuration 
# while clickAction: RIDE is set above then some of the pick-up settings above would also take effect)

ride:
  # Cooldown in seconds before being able to ride players/mobs (set to 0 to disable)
  cooldown: 10
  ## WARNING: If you set both settings below to true unexpected results may occur.
  ## THEY ARE SUPPOSED TO BE MUTUALLY EXCLUSIVE
  # If this is true, players will still obey normal pick-up rules for mobs and
  # only ride players 
  pickupOnlyMobs: false
  # If this is true, players will still obey normal pick-up rules for players and
  # only ride mobs
  pickupOnlyPlayers: false

##################################
##### Message Configuration ######
##################################

# These settings control the messages from the language file
# that are sent to the players

messages:
  ## Language files are located in /plugins/piggyback/lang. Default is en-US.yml. If you edit one into a new language, try to rename the file with a language code from
  ## https://www.alchemysoftware.com/livedocs/ezscript/Topics/Catalyst/Language.htm such as zh.yml or zh-CHS.yml for simplified Chinese for example. You can then set 
  ## this setting here in this file to zh or zh-CHS and it will load properly. If you create a new language file, please send it to me so I can include it in future
  ## updates of the project for all to enjoy! (Email: DrkMatr1984@aol.com)
  language: en-US
  # Whether to send any plugin messages at all to players
  # (Maybe you want this false for immersion?)
  # Players may also toggle messages off in game if given permission with a command
  send: true
  # Cooldown in seconds between getting different plugin messages 
  # (This will help prevent chat spam for the player if they are doing
  # something like spam clicking after a cooldown) (set to 0 to disable)
  cooldown: 30

##################################
##### Blacklist Configuration ####
##################################

# These configs control the different blacklists/whitelists

blacklists:
  # Configures the entity blacklists/whitelists
  entities:
    # If this is true the list becomes a whitelist instead
    whitelist: false
    # Entities must be in the format from
    # https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/entity/EntityType.html
    entityBlacklist:
    - ''
  # Configures the custom entity blacklists/whitelists
  customEntities:
    # If this is true the list becomes a whitelist instead
    whitelist: false
    # This works by checking the display name of an entity,
    # and is case insensitive, but is largely untested. Please report bugs.
    # (You will have to know the name of the mob)
    customEntityBlacklist:
    - ''  
  # Configures the world blacklists/whitelists
  worldBlacklist:
    # If this is true the list becomes a whitelist instead
    whitelist: false
    # This works by checking the world name, and is case insensitive
    worlds:
    - ''
    
##################################
##### Storage Configuration ######
##################################

# These configs control where the data for the message toggles and
# piggyback toggles are stored. Default is .yml in the PiggyBack/data
# folder. 

storage:
  # Storage Type. Possible values: YML, H2, MYSQL, POSTGRE, SQLITE
  # Postgre and H2 need their respective jars placed in /PiggyBack/lib/ to function. (Currently h2-1.4.190.jar and postgresql-42.5.0.jar)
  # Case-Insensitive
  type: 'yml'
  # Amount of time in seconds before saving data when using SQLite
  # or YML
  saveTimer: 600
  # Filename of SQLite database file if SQLite is chosen. Location is
  # in piggyback/data
  sqliteFilename: 'pback.db'
  # Hostname or IP of the server if using H2, MYSQL, or POSTGRE (H2 Already includes tcp://)
  hostname: '127.0.0.1'
  # Port number of the server if using H2, MYSQL, or POSTGRE (PostgreSQL Default: 5432 / MySQL Default: 3306 / H2 Default: 9092)
  port: '3306'
  # The Name of the Database to use (H2 Default: test)
  database: 'piggyback'
  # Boolean to use SSL in case of mysql type database. If this is true,
  # please either symlink or place ca-certificate.crt into the 
  # PiggyBack/data folder. (Especially for postgre)
  useSSL: false
  # Whether to use the autoReconnect feature of MySQL (Only for MySQL)
  autoReconnect: true
  # Username for database. Not needed when using SQLITE or YML (default for H2 is 'sa')
  username: 'root'
  # Password for database. Not needed when using SQLITE or YML (default for H2 is '')
  password: 'password'
  # PostgreSQL and H2 need their respective jars placed in /PiggyBack/lib/ to function. (Currently h2-1.4.190.jar and postgresql-42.5.0.jar)
  # You can either download those jars yourself and place them in the /PiggyBack/lib/ folder or set this to true to have PiggyBack attempt
  # to automatically download the latest lib jars from the Maven Central Repository into /PiggyBack/lib/.
  # Has no effect if ** storage.type: ** above is not set to H2 or PostgreSQL.
  autoDownloadLibs: false
  
  ## ADDITIONAL NOTES ON H2 DATABASES: https://www.h2database.com/html/main.html
  ## After downloading the lib from Maven or the website listed above, you can run the jar in 
  ## Local server mode by executing 'java -cp h2*.jar org.h2.tools.Server' This will start a server with the default settings.
  ## Running 'java -cp h2*.jar org.h2.tools.Server -?' will display additional runtime options.
  ## H2 is a great alternative to MySQL for people running Minecraft using rented server panels; as long as you have access
  ## to edit part of the startup string you may be able to start an h2 jar as a server and use it as a personal MySQL server.
  ## If interest is piqued I may add an embedded version of an H2 server that optionally runs with PiggyBack that other 
  ## plugins may connect to and use.
    
##################################
##### Metrics Configuration ######
##################################
    
metrics:
  # Enable bStats metrics
  bStatsMetrics: true
  
##################################
### DO NOT TOUCH OR BAD THINGS ###
##################################
config-version: 1
